.form-bg {
  background-color: #fac1c1;
  border-radius: 10px;
  align-items: center;
  display: flex;
  padding: 30px;
}

.form-content label {
  font-weight: 700;
  color: #323232;
  margin-left: 10px;
}

.form-content .form-title {
  width: 280px;
  height: 40px;
  border: 0;
  border-radius: 15px;
  padding: 0 12px;
  margin-left: 10px;
}

.form-content .form-text {
  width: 450px;
  height: 40px;
  border: 0;
  border-radius: 15px;
  padding: 0 12px;
  margin-left: 10px;
}

.form-bg button {
  border-radius: 15px;
  border: none;
  background-color: #fff0f0;
  color: #323232;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 80px;
}

.form-bg button:hover {
  background-color: #ff6e6e;
  color: white;
}
